[submodule "imported/httprouter"]
	path = imported/httprouter
	url = https://github.com/anssihalmeaho/httprouter.git
[submodule "imported/trails"]
	path = imported/trails
	url = https://github.com/anssihalmeaho/trails.git
